<template>
    <div class="calculator">
        <div class="display">{{ current || '0'}}</div>
        <div @click="append('7')" class="btn"> 7</div>
        <div @click="append('8')" class="btn"> 8</div>
        <div @click="append('9')" class="btn"> 9</div>
        <div @click="divide" class="btn"> /</div>
        <div @click="append('4')" class="btn"> 4</div>
        <div @click="append('5')" class="btn"> 5</div>
        <div @click="append('6')" class="btn"> 6</div>
        <div @click="multiply" class="btn"> *</div>
        <div @click="append('1')" class="btn"> 1</div>
        <div @click="append('2')" class="btn"> 2</div>
        <div @click="append('3')" class="btn"> 3</div>
        <div @click="substract" class="btn"> -</div>
        <div @click="equal" class="btn"> =</div>
        <div @click="append('0')" class="btn"> 0</div>
        <div @click="dot" class="btn"> .</div>
        <div @click="add" class="btn"> +</div>
        <div @click="clearEntry" class="btn CE"> CE</div>
        <div @click="clear" class="btn C"> C</div>
    </div>
</template>

<script>
export default {
    data() {
        return{
           current: '',
           operator: null,
           previous: null,
           operatorClicked: false,
           equalsClicked: false,
           temp: null,
        }
    },
    methods: {
        clear() {
            this.current = '';
            this.previous = null;
            this.operator = null;
            this.operatorClicked = false;
            this.equalsClicked = false;
        },
        clearEntry() {
            this.current = this.current.substring(
                0, this.current.length - 1
                );
        },
        append(number) {
            if (this.operatorClicked) {
                this.current = '';
                this.operatorClicked = false;
            }
            
            if (this.equalsClicked) {
                this.equalsClicked = false;
                this.current = '';
            }

            if (number == '0') {
                if (this.current == '')
                    return;
            }

            if (number == '.') {
                if(this.current == '') {
                    this.current = '0';
                }
            }

            this.current = `${this.current}${number}`;
        },
        dot() {
            
            if (this.current.indexOf('.') === -1) {
                this.append('.');
            }
        },
        divide() {
            this.operator = (a,b) => a / b;
            this.setPrevious();
        },
        multiply() {
            this.operator = (a,b) => a * b;
            this.setPrevious();
        },
        add() {
            this.operator = (a,b) => a + b;
            this.setPrevious();
        },
        substract() {
            this.operator = (a,b) => a - b;
            this.setPrevious();
        },
        equal() {

            if(this.operator === null)
                return;

            if(this.equalsClicked === false) {
                this.temp = this.current;
            }

            if(this.equalsClicked === true) {
                this.current = `${this.operator(
                    parseFloat(this.current), 
                    parseFloat(this.temp)
                    )}`;
            }
            else {
                this.current = `${this.operator(
                    parseFloat(this.previous), 
                    parseFloat(this.current)
                    )}`;
            }
            this.equalsClicked = true;
        },
        setPrevious() {
            this.previous = this.current;
            this.operatorClicked = true;
            this.equalsClicked = false;
        }
    }
}
</script>

<style scoped>
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10mm;
    grid-row-gap: 10mm;
    grid-auto-rows: 50px;
    grid-auto-columns: 50px;
    background-color: #7DC7E6;
    margin: 0 0;
    width: 350px;
    font-size: 30px;
    padding: 20px;
}


.display {

    grid-column: 1 / 5;
    background-color: white;
    border: 2px solid #B2B4B5;
    text-align: right; 
    text-overflow: clip;
    white-space:  nowrap;
    overflow: hidden;  
}

.CE {
    grid-column: 1 / 3;
}

.C {
    grid-column: 3 / 5;
}

.btn {
    background-color: #DDDDDD;
    border: 2px solid #B2B4B5;
    display:  flex;
    align-items: center;
    justify-content: center;
}

</style>